body{
    background-color: yellow;
    color: black;
    font-family:monospace;
    font-size: 30px;
}
h1{
    font-family: monospace;
}
h2 {
    font-family: monospace;
    text-align: center;
}
header{
    text-align: center;
    outline-style: dotted;
    outline-width: 6px;
    outline-color: black;
    background-color: yellow;

    position: fixed;
    height: 80px;
    top: 0;
    width: 100%;

    font-size: 30px;
    line-height: 0px;
}

/* for padding after link */
html {
    scroll-padding-top: 80px;
    /* height of sticky header */
}
main{
    margin-left: 22%;
    margin-top: 100px;
}
article{
    padding-left: 10px;
    outline-style: dotted;
    outline-width: 6px;
    outline-color: black;
}
td img{
    width: 300px;
}
table,th,td {
    border: 3px dotted black;
    text-align:  center;
}
table{
    justify-self: center;
    border: 3px solid black;
    margin-left: auto;
    margin-right: auto;
}


a:active {
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    color:black;
}
a:visited {
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    color:orange;
}
a:hover {
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    color:green;
}
a:link {
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    color:yellow;
}



.banana{
    color: yellow;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.NIE{
    color: red;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.navigation {
    position: fixed;
    width: 20%;
    font-size: 30px;
    outline-style: dotted;
    outline-width: 6px;
    outline-color: black;
}